
body {
	width: 100%;
	height: 100%;
}

div#main {
	position: relative;
	height: 200px;
	width: 200px;
    left: 500px;
    top: 200px;
}

div#main .content {
	position: absolute;
	text-align:center;
	width:200px;
	top:50%;
	transform:translate(0 -50%);
	font-size:24pt;
}

div#main .topleft {
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0px;
	left: 0px;
	background: red;
    transition-property: all;
    transition-duration: 1s;
	
}

div#main .topright {
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0px;
	left: 100px;
	background: yellow;
    transition-property: all;
    transition-duration: 1s;

}

div#main .bottomleft {
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 100px;
	background: blue;
    transition-property: all;
    transition-duration: 1s;

}

div#main .bottomright {
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 100px;
	top: 100px;
	background: green;
    transition-property: all;
    transition-duration: 1s;

}

div#main:hover .topleft {
    transform: rotate(-90deg);
    transform-origin: bottom left ; 
}
div#main:hover .topright {
    transform: rotate(90deg);
    transform-origin: bottom right ;
}
div#main:hover .bottomleft {
    transform: rotate(-90deg);
    transform-origin: bottom left ;
}

div#main:hover .bottomright {
    transform: rotate(90deg);
    transform-origin: bottom right ;
}